<!DOCTYPE html>
<html>
  <head>
    <title>LucknowZoo</title>
    <%= csrf_meta_tags %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

        <!-- for-mobile-apps -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="Dazzling Birds Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
        Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
        <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
        function hideURLbar(){ window.scrollTo(0,1); } </script>
        <!-- //for-mobile-apps -->
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="css/lightbox.css">

        <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="css/ken-burns.css" type="text/css" media="all" />
        <!-- font-awesome icons -->
        <link href="css/font-awesome.css" rel="stylesheet"> 
        <!-- //font-awesome icons -->
        <link href="fonts/aresenal.css" rel="stylesheet">
        <link href='fonts/open-sans.css' rel='stylesheet' type='text/css'>

    <% if content_for? :for_head %>
    <%= yield :for_head %>
    <% end %>

    
  </head>
  <body>
      <div class="header-bottom topcontainer ">
      <div class="container ">
        <nav class="navbar navbar-default">
          <!-- Brand and toggle get grouped for better mobile display -->

          <div class="w3l_header_right">
            <ul>
<!--          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>   -->
          <button type="button" class="btn btn-success">Feedback</button>
          <!-- Secondary, outline button -->
          <button type="button" class="btn btn-danger">Contact</button>

          <!-- Indicates a successful or positive action -->
          <button type="button" class="btn btn-primary">Helpline number: 800 549 3617</button>

        </ul>
      </div>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="logo">            
          <a class="navbar-brand" href="index.html">
            <div class="row">
              <div class="over-the-top col-xs-3">
                <img src="images/zoologo.png" class="over-the-top img-rounded img-responsive" alt="Cinque Terre" >  
              </div>
              <div class="col-xs-8 top-buffer">

                <h4 class="candarabold">Nawab Wajid Ali Shah</h4>
                <h4 class = "top-buffer-7 white-header">Zoological Garden</h4>

              </div>

            </div>



          </div>
        </a>

      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
        <nav >
          <ul class="fonarto nav navbar-nav">

            <li ><a href="#">Online Ticketing</a></li>
            <li class=" dropdown list-category">
              <a href="javascript:void(0);" class="dropdown-toggle fonarto" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Visitor's Information
              </a>
              <ul class="dropdown-menu mega-dropdown-menu">
                <li><a href="#">Achievement</a></li>
                <li><a href="/tickets_rates_timming">Ticket Rates & Timing</a></li>
                <li><a href="/main_animals_at_zoo">Main animals at Zoo</a></li>
                <li><a href="#">How to reach</a></li>
                <li><a href="/zoo_map">Zoo map</a></li>
                <li><a href="/history">History</a></li>
                <li><a href="/does_and_dont">Do's & Don't</a></li>
                <li><a href="/list_of_director">List of Directors</a></li>
                <li><a href="/certificate">Certification</a></li>
              </ul>
            </li>
            <li class="dropdown list-category">
              <a href="javascript:void(0);" class="fonarto dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Animals & Plants
              </a>
              <ul class="dropdown-menu mega-dropdown-menu">
                <li><a href="/animal">Indian Exotic Animals</a></li>
                <li><a href="/bird">Indian Exotic Birds</a></li>
                <li><a href="/reptile">Reptile</a></li>
                <li><a href="/serpentarium">Serpentarium</a></li>
                <li><a href="/aquarium">Aquarium</a></li>
                <li><a href="/nocturnalhouse">Nocturnal House</a></li>
                <li><a href="/interpretation_center">Interpretation Center</a></li>
                <li><a href="/start_art_museum">State Art Museum</a></li>
                <li><a href="/floraldiversity">Floral Diversity</a></li>
              </ul>
            </li>
            <li class="dropdown list-category">
              <a href="javascript:void(0);" class="dropdown-toggle fonarto" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Attractions
              </a>
              <ul class="dropdown-menu mega-dropdown-menu">
                <li><a href="/highlight">Facilities</a></li>
                <li><a href="/highlight">Events</a></li>
                <li><a href="/highlight">Other Activities</a></li>
              </ul>
            </li>
            <!-- <li><a href="">Attractions</a></li> -->
            <li ><a href="#" class ="fonarto" >Donation Schemes</a></li>
            <li class="dropdown list-category">
              <a href="javascript:void(0);" class="fonarto dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                Notices
              </a>
              <ul class="dropdown-menu mega-dropdown-menu">
                <li><a href="/tender">Tender</a></li>
                <li><a href="/highlight">Notice</a></li>
                <li><a href="/highlight">Circulars</a></li>
              </ul>
            </li>
            <!-- <li><a href="#">Notices</a></li> -->
          </ul>
        </nav>
      </div>
      <!-- /.navbar-collapse -->
    </nav>
  </div>
</div>
    <%= yield %>


    <!-- footer -->
<div class="footer">
  <div class="container">
      <!-- <div class="col-md-4 w3agile_footer_grid">
        <h3>About Us</h3>
        <p>The zoo is being managed as a trust by the Zoo Advisory Committee, with Forest Secretary to the Govt. of UP as Chairman, Principal Chief Conservator of Forests, UP as Vice Chairman and Chief Wildlife Warden, UP as Administrator. </p>
        <h2><a href="index.html">LUCKNOW ZOOLOGICAL GARDEN</a></h2>
      </div> -->
      <div class="col-md-4 w3agile_footer_grid">  
        <!-- <h3>Links</h3> -->
        <ul>
          <li><a href="#">Copyright Policy</a></li>
          <li><a href="/terms_and_conditions">Terms & Conditions</a></li>
          <!-- <li><a class="scroll" href="#video">Query</a></li> -->
          <li><a href="#">Feedback</a></li>
          <li><a href="#">Sitemap</a></li>
          <!-- <li><a class="scroll" href="#contact">Admin Login</a></li> -->
        </ul>
      </div>
      <div class="col-md-4 w3agile_footer_grid">  
        <!-- <h3>Links</h3> -->
        <ul>
          <li><a href="#">Achievements</a></li>
          <li><a href="#">Donation Schemes</a></li>
          <li><a href="/veretinary_care">Veterinary Facilities</a></li>
          <li><a href="#">Press Releases</a></li>
          <li><a href="#">Notice Board</a></li>
          <li><a href="#">Tender Notice</a></li>
        </ul>
      </div>
      <!--map-->
      <div class="col-md-4 w3agile_footer_grid">  
        <!-- <h3>Map</h3> -->
        <p><strong>
          Nawab Wajid Ali Shah Prani Udyan, Lucknow</strong></p> <br>
          <p>Hazratganj Road, Opp. to Civil Hospital, Lucknow, Uttar Pradesh 226001, India</p>
          <br><br>
          <p>
            Telephone No. : 0522-2239588 (O) , 2236538 (Fax) 
          </p>
          <p>
            E-mail address : lucknowzoo@gmail.com
          </p>
          <p>
            for any query contact Helpline No : 8005493617
          </p>

        </div>

        <!--//map-->
      <!-- <div class="col-md-4 w3agile_footer_grid">
        <h3>Twitter Posts</h3>
        <ul class="w3agile_footer_grid_list">
          <li>Ut aut reiciendis voluptatibus maiores alias, ut aut reiciendis.
            <span> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a> 02 days ago</span></li>
          <li>Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis 
            voluptatibus.<span> <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i> </a> 03 days ago</span></li>
        </ul>
      </div> -->
      <!-- <div class="col-md-3 w3agile_footer_grid">
        <h3>Instagram</h3>
        <div class="w3agile_footer_grid_left">
          <a href="#" data-toggle="modal" data-target="#myModal"><img src="images/g1.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="w3agile_footer_grid_left">
            <a href="#" data-toggle="modal" data-target="#myModal"><img src="images/g2.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="w3agile_footer_grid_left">
            <a href="#" data-toggle="modal" data-target="#myModal"><img src="images/g3.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="w3agile_footer_grid_left">
            <a href="#" data-toggle="modal" data-target="#myModal"><img src="images/g4.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="w3agile_footer_grid_left">
            <a href="#" data-toggle="modal" data-target="#myModal"><img src="images/g5.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="w3agile_footer_grid_left">
            <a href="#" data-toggle="modal" data-target="#myModal"><img src="images/g2.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="w3agile_footer_grid_left">
          <a href="single.html"><img src="images/g1.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="w3agile_footer_grid_left">
            <a href="#" data-toggle="modal" data-target="#myModal"><img src="images/g2.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="w3agile_footer_grid_left">
            <a href="#" data-toggle="modal" data-target="#myModal"><img src="images/g3.jpg" alt=" " class="img-responsive" /></a>
        </div>
        <div class="clearfix"> </div>
      </div> -->
      <div class="clearfix"> </div>
    </div>
  </div>
  <div class="agileinfo_copy_right">
    <div class="container">
      <div class="agileinfo_copy_right_left">
        <p>Technology Partner White Butter Pvt. Ltd. <!-- | Design by <a href="http://w3layouts.com/">W3layouts --><!-- </a> --></p>
      </div>
      <div class="agileinfo_copy_right_right w3l_header_right">

        <ul class="social-bnr-agileits">
          <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
          <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>          
        </ul>

      </div>
      <div class="clearfix"> </div>
    </div>
  </div>
  <!-- //footer -->
  <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>


  <!-- js -->
  <script type="text/javascript" src="js/jquery-2.2.3.min.js"></script>

  <script type="text/javascript" src="js/main.js"></script>
  <script src="js/lightbox-plus-jquery.min.js"> </script>

  <script src="js/particles.js"></script>
  <script src="js/app.js"></script>
  <!-- required-js-files-->
  <link href="css/owl.carousel.css" rel="stylesheet">
  <script src="js/owl.carousel.js"></script>
  <script>
    $(document).ready(function() {
      $("#owl-demo").owlCarousel({
        items : 1,
        lazyLoad : true,
        autoPlay : true,
        navigation : false,
        navigationText :  false,
        pagination : true,
      });
    });
  </script>
  <!--//required-js-files-->

  <script type="text/javascript">
    $(window).load(function() {
      $("#flexiselDemo1").flexisel({
        visibleItems: 4,
        animationSpeed: 1000,
        autoPlay: true,
        autoPlaySpeed: 3000,        
        pauseOnHover: true,
        enableResponsiveBreakpoints: true,
        responsiveBreakpoints: { 
          portrait: { 
            changePoint:480,
            visibleItems: 1
          }, 
          landscape: { 
            changePoint:640,
            visibleItems:2
          },
          tablet: { 
            changePoint:768,
            visibleItems: 3
          }
        }
      });

    });
  </script>
  <script type="text/javascript" src="js/jquery.flexisel.js"></script>
  <!-- //js -->
  <!-- start-smoth-scrolling -->
  <script type="text/javascript" src="js/move-top.js"></script>
  <script type="text/javascript" src="js/easing.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $(".scroll").click(function(event){   
        event.preventDefault();
        $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
      });
    });
  </script>
  <!-- //end-smoth-scrolling -->
  <!-- for bootstrap working -->
  <script src="js/bootstrap.js"></script>
  <!-- //for bootstrap working -->
  <!-- here stars scrolling icon -->
  <script type="text/javascript">
    $(document).ready(function() {
      /*
        var defaults = {
        containerID: 'toTop', // fading element id
        containerHoverID: 'toTopHover', // fading element hover id
        scrollSpeed: 1200,
        easingType: 'linear' 
        };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

      });
    </script>
  </body>
</html>